<html>
  <head>
    <title>Calculadora de Falsa posicion</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="estilo_biseccion.css" />
  </head>
  <body>
    <header>
      <h1>Calculadora de falsa</h1>
    </header>
    <main>
      <form action="/" method="POST">
        <div class="input-wrapper">
          <label for="funcion">Función f(x):</label>
          <input
            type="text"
            value="{{funcion}}"
            id="funcion"
            name="funcion"
            placeholder="Ejemplo: x^3 - x - 1 = 0"
          />
        </div>
        <div class="input-wrapper">
          <label for="a">X1:</label>
          <input
            type="number"
            id="x1"
            value="{{x1}}"
            name="x1"
            placeholder="Ejemplo: 1"
          />
        </div>
        <div class="input-wrapper">
          <label for="b">X2:</label>
          <input
            type="number"
            id="x2"
            value="{{x2}}"
            name="x2"
            placeholder="Ejemplo: 1"
          />
        </div>
        <button type="submit" #>Calcular</button>
      </form>
      <div id="result"></div>
      <div id="table"></div>
    </main>
  </body>
</html>