<h4>estos son los resultados de la formula</h4>
<div class="row">
  {{#each guardarValoresX}}
    <div>
      <div>
        <h4>{{this}}</h4>
      </div>
    </div>
  {{/each}}
</div>
<br />
<br />
<br />
<h5>aca viene los errores porcentuales </h5>
<div class="row">
  {{#each guardarErrorPor}}
    <div>
      <div>
        <h4>{{this}}</h4>
      </div>
    </div>
  {{/each}}
</div>